package web

import "github.com/bnadland/rhizome/internal/db"
import "github.com/bnadland/rhizome/internal/markdown"

templ Page(page db.Page) {
	@Layout(page.Title) {
		<main class="container mx-auto sm:mx-8 mt-8">
			<article>
				<h1 class="text-3xl">{ page.Title }</h1>
				<section class="mt-4 prose">
					@templ.Raw(markdown.Markdown(page.Content))
				</section>
			</article>
		</main>
	}
}
